<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Herois</h1>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data Cadastrada</th>
                    <th>Poderes</th>
                    <th>Universo</th>
                    <th>Acoes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hero of heros | async">
                    <td>{{hero.nome}}</td>
                    <td>{{hero.dataCadastrada}}</td>
                    <td>{{hero.poderes}}</td>
                    <td>{{hero.Universo}}</td>
                    <td><button (click)="updatehero(hero)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>