<div *ngIf="hero">
    <div>
        <label>Nome: </label> {{hero.nome}}
    </div>
    <div>
        <label>Poderes: </label> {{hero.poderes}}
    </div>
    <div>
        <label>Universo: </label> {{hero.universo}}
    </div>
    <div>
        <label>Ativo: </label> {{hero.ativo}}
    </div>

    <span class="button is-small btn-primary" *ngIf='hero.ativo' (click)='updateativo(false)'>Inativo</span>

    <span class="button is-small btn-primary" *ngIf='!hero.ativo' (click)='updateativo(true)'>Ativo</span>

    <span class="button is-small btn-danger" (click)='updateHero()'>Deletar</span>

    <hr/>
</div>