<h3>Criacao do Heroi</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="nome" required [(ngModel)]="hero.nome" name="nome">
        </div>

        <div class="form-group">
            <label for="name">Poderes</label>
            <input type="text" class="form-control" id="poderes" required [(ngModel)]="hero.poderes" name="poderes">
        </div>

        <div class="form-group">
            <label for="name">Universo</label>
            <input type="text" class="form-control" id="universo" required [(ngModel)]="hero.universo" name="universo">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>Heroi Cadastrado com Sucesso!</h4>
</div>
